* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.color-blueish {
  color: #3EABFD;
}
.bg-blueish {
  background-color: #3EABFD;
}
.header {
  background: url(../img/1.jpg) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  overflow: auto;
}

.header-about {
  margin-top: 44vh;
  top: 60%;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.about {
  background: url(../img/2.jpg) no-repeat center center;
  background-size: cover;
  max-width: 100%;
  overflow: auto;
  padding: 50px 0;
}
.about-info {
  margin-top: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.margin-top {
  margin: 10 0 0 0 !important;
}

.about-us-btn {
  font-size: 24px;
  text-transform: uppercase;
  padding: 16px 80px;
  border: 1px solid;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.about-us-btn:hover {
  text-decoration: none;
  color: white;
  background-color: #2980b9;
}

.veon h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0;
  color: #3EABFD;
  background-color: #fff;
}
#veonCarousel {
  background: url(../img/3.jpg) no-repeat center center;
  background-size: cover;
}
.carousel-control {
  width: 6%;
}
.carousel-control:focus {
  opacity: 0.5;
}
.carousel-control:hover {
  opacity: 1;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.v-ctrl > li.active a {
  background-color: #3EABFD !important;
}
.veon-item {
  margin: 80px 0;
}
.veon-item h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  text-align: left;
}
.veon-item p {
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}
.advantages h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 40px 0;
  color: #3EABFD;
}
#advantagesCarousel {
  /*background: url(../img/4.jpg) no-repeat center center;
  background-size: cover;*/
  min-height: 580px;
}
.advantages-head {
  display: inline-block;
  vertical-align: middle;
  height: 1.2em;
}
.item-img {
  margin: 10px 0;
}
.img-fix {
  height: 80px;
}
.img-center {
  margin: 0 auto;
}
.nav-pills>li {
  background-color: #2980b9;
}
.nav-pills>li>a {
  border-radius: 0 !important;
}
.nav-pills>li>a:hover {
  background-color: #3EABFD;
}

.nav-pills>li[data-slide-to="0"].active a {   background-color: #3EABFD; }
.nav-pills>li[data-slide-to="1"].active a {   background-color: #3EABFD; }
.nav-pills>li[data-slide-to="2"].active a {   background-color: #3EABFD; }

.us-bg {
  background: url(../img/5.jpg) no-repeat center center;
  background-size: cover;
  max-width: 100%;
  overflow: auto;
}

.us h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  font-size: 56px;
  padding: 25px 0;
  background-color: #3EABFD;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.us p {
  margin: 30px 0;
  text-indent: 60px;
  font-weight: 500;
  font-size: 18px;
}
