* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.color-blueish {
  color: #3EABFD;
}
.bg-blueish {
  background-color: #3EABFD;
}
.header {
  background: url(../img/1.jpg) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  overflow: auto;
}

.header-about {
  margin-top: 44vh;
  top: 60%;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.about {
  background: url(../img/2.jpg) no-repeat center center;
  background-size: cover;
  max-width: 100%;
  overflow: auto;
  padding: 50px 0;
}
.about-info {
  margin-top: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.advantages h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 40px 0;
  color: #3EABFD;
}
#advantagesCarousel {
  /*background: url(../img/4.jpg) no-repeat center center;
  background-size: cover;*/
  min-height: 580px;
}
.advantages-head {
  display: inline-block;
  vertical-align: middle;
  height: 1.2em;
}
.item-img {
  margin: 10px 0;
}
.img-fix {
  height: 80px;
}
.img-center {
  margin: 0 auto;
}
.nav-pills>li {
  background-color: #2980b9;
}
.nav-pills>li>a {
  border-radius: none;
}

.nav-pills>li[data-slide-to="0"].active a {   background-color: #3EABFD; }
.nav-pills>li[data-slide-to="1"].active a {   background-color: #3EABFD; }
.nav-pills>li[data-slide-to="2"].active a {   background-color: #3EABFD; }

.us-bg {
  background: url(../img/5.jpg) no-repeat center center;
  background-size: cover;
  max-width: 100%;
  overflow: auto;
}

.us h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  font-size: 56px;
  padding: 25px 0;
  background-color: #3EABFD;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.us p {
  margin: 30px 0;
  text-indent: 60px;
  font-weight: 500;
  font-size: 18px;
}
